.modal_content {
    background-color: white;
    padding: 20px;
    /* margin: auto; */
    margin: 100px auto;
    position: relative;
    width: 50%;
}

.modal {
    font-family: 'Roboto', sans-serif;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

#modal_video:target {
    opacity: 1;
    pointer-events: auto;
}
