/* CSS Main Document */
html,
body {
    display: flex;
    justify-content: center;
    height: 98%;
    width: 99%;
}
#PMap {    
    width: 100%;
    min-height: 100%;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
}
colormap {
    background-color: rgb(234, 234, 234);
}
.title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.title:hover {
    background-color: rgba(255, 255, 255, 1);
    padding: 0.8rem 4rem;
}

@media(max-width: 720px) {
    #bg-selector,
    #colorpicker {
        display: none !important;
    }
}